<%# topic partial %>
<li>
     <span class="content"><%= link_to topic.title, topic_path(topic.id) %></span>
</li>
<li>
	<table>
		<tr>
			<% if topic.posts.first.user %>
			  <td class="gravatar">
			    <% if topic.posts.first.user.admin? %>
					<%= image_tag("admin.jpeg", :alt => "Admin Logo", :size => "30x30") %>
				<% else %>
			    	<%= link_to gravatar_for(topic.posts.first.user), 
												topic.posts.first.user %>
				<% end %>
		    
			  </td>
			<% end %>
			<td>
				<% if topic.posts.first.user %>
				   <span class="user">
				     <%= link_to topic.posts.first.user.name, topic.posts.first.user %> |
				   </span>
				<% end %>
				  <span class="timestamp">
				    Updated <%= time_ago_in_words(topic.updated_at) %> ago.
				  </span>
				  <span class="count">
				    | <%= pluralize(topic.posts.count, "post")%>
				  </span>
				<% if signed_in? && current_user.admin? %>
				| <%= link_to "delete", topic, :method => :delete, :confirm => "You sure?",
				                            :title => "Delete #{topic.title}" %>
				<% end %>

			</td>
		</tr>
	</table>
</li>